<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header_img">
                <img src="/static/img/mainicon.svg" alt="">
            </div>
            <div class="header_text">
                <span class="first_span">ТИП </span><span class="second_span">ЛИЧНОСТИ</span>
            </div>
            <div class="header_text2">
                <p>как проходить тест</p>
            </div>
            <div class="header_text3">
                <p>Психологический тип личности являет собой определенную модель поведения человека и его взаимодействие с другими, окружающей средой.</p>
            </div>
        </div>
    </div>
    {{{body}}}
    <script src="/static/js/ask.js"></script>
</body>
</html>