<div class="container">
    <div class="ask_header">
        <span class="second_span">Вопрос </span><span class="first_span">№101</span>
    </div>
    <div class="ask">
        <p>Введите данные для обратной связи с вами</p>
    </div>
    <form action="/form" method="POST">
        <input type="text" name="user_name" placeholder="ФИО"> <br>
        <input type="number" name="number" value="7"> <br>
        <input type="email" name="mail" placeholder="email"> <br>
        <input type="submit" value="УЗНАТЬ РЕЗУЛЬТАТЫ ТЕСТА">
    </form>
</div>
